  		
h1{color: red;
		margin: 30px 30px;
		}


#subtitulo{color: green;
		margin: 20px 30px;
		} 


.parrafo{color: blue;
		margin: 10px 30px;
		padding: 5px 40px;
		background-color: #00FFFF;
	}

body{
	background-color: #C0C0C0;
}

span p:first-child{ color: red;}
span p:last-child{ color: blue;}
span p:nth-child(4){ color: green;}
.pink:hover{ color: pink;}
