
     		
h1{color: red;
		margin: 30px 30px;
		}


#subtitulo{color: green;
		margin: 20px 30px;
		} 


.parrafo{color: blue;
		margin: 10px 30px;
		padding: 5px 40px;
		background-color: #00FFFF;
	}

body{
	background-color: #C0C0C0;
}

